/*css Reset*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}
strong, em {
	font-family: 'Raleway', sans-serif;
}

/*body*/

.body-bg {
        			
     background-repeat: no-repeat;
     background-attachment: fixed;
      background-size: cover ;
     background-position: top;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bgrnd.webp);
     height: 80vh;
     width:95%;

     		}
h1 ,h2,h3,h4 ,h5,h6  {
	background:linear-gradient( to right,  #A8DEE0  20% ,#fbc78d 80% );
	-webkit-background-clip:Text ;
	-webkit-text-fill-color :transparent; }
/*landing page	*/
/*end of landing page*/
#landing-page {
	height:80vh;
	margin:4rem;

}
/*projects*/
#projects{
	margin:30px;
}



/*CONTACT SECTION*/


.submit-btn {
	
	background-color:  #A8DEE0;
}

.hover:hover {transform: scale(1.15);}
.hover{transition: all 0.3s;
	
}

.get-intouch {
	max-width:800px;
	margin:50px auto;
	position: relative;
	box-shadow:0 10px 30px 0px rgba(0, 0, 0, 0.1);
	padding:30px;
	border: solid  #A8DEE0;
}

.get-intouch .title {
	text-align:center;
	letter-spacing: 3px;
	font-size: 2em;
	line-height: 48px;
	padding-bottom: 20px;
	color: #5543ca;
	background:linear-gradient( to right,  #A8DEE0  20% ,#fbc78d 80% );
	-webkit-background-clip:Text ;
	-webkit-text-fill-color :transparent; 

}

.contact-form .form-field{
	position:relative;
	margin: 32px 0;
}

.contact-form .input-text , .contact-form .other-input {
	display: block;
	width: 100%;
	height:36px;
	border-width:0 0 4px 0;
	border-color:#fbc78d; 
	font-size: 18px;
	line-height:26px;
	font-weight: 400pxs;
}



/*end of contact section*/
/*animations*/

/*.fade-in-out{
	opacity:0;
	transition: opacity 2s  ease;
}

.fade-in-out:hover{
	opacity:1;
}*/